@{
    ViewData["Title"] = "Lời cảm ơn";
}
<h1>@ViewData["Title"]</h1>

<p>Kính gửi thầy Huỳnh Xuân Phụng,</p>

<p>Em thay mặt nhóm xin gửi lời cảm ơn chân thành nhất đến thầy đã dành thời gian và công sức để đánh giá và hướng dẫn cho đồ án của nhóm em. Đây là một cơ hội quý báu để nhóm em áp dụng và phát triển những kiến thức đã học được trong quá trình học tập.</p>

<p>Nhóm em cũng gửi lời cảm ơn đến nhà trường đã tạo một môi trường học tập tốt nhất cho nhóm. Nhờ vậy, nhóm em có thể học tập và trau dồi những kiến thức mà nhóm em chưa biết đến, và có thể tận dụng những kiến thức ấy vào đề tài.</p>

<p>Mặc dù nhóm em cố gắng rất nhiều trong đồ án này, tuy nhiên vẫn không thể tránh được những sai sót. Mong thầy có thể bỏ qua và cho nhóm em thêm những ý kiến từ thầy để nhóm có thể tiếp tục phát triển đồ án này một cách hoàn thiện hơn nữa.</p>

<div class="signature">
    <p>Trân trọng,</p>
    <p>Lê Tuấn Nghĩa</p>
</div>


<h3> Nội dung đề tài</h3>
<p>Dịch vụ lưu trữ và chia sẻ file an toàn</p>
<p>Tạo dịch vụ lưu trữ và chia sẻ tệp an toàn bằng S3 để lưu trữ.</p>
<p>Triển khai mã hóa và quản lý danh tính bằng AWS KMS (hoặc mã của bạn) và IAM.</p>
<p>Phát triển giao diện front-end để người dùng tải lên và chia sẻ tệp một cách an toàn.</p>
    
    






