@model S3FileDetails

<table>
    <tr>
        <th>FileName</th>
    </tr>
    <tr>
        <td>@Html.DisplayFor(model => model.FileName)</td>
    </tr>
</table>

<script type="text/javascript">

    function DownloadConfirmDialog(event) {

        var result = confirm("Do you want to continue?");

        if (!result) {
            event.preventDefault(); // Ngăn chặn hành động mặc định của form
            alert("Không thực hiện download!");
        } else {
            alert("Download thành công!");
        }
        window.location = "https://localhost:7000/Home/";
    }

</script>
<form asp-action="DownloadFile">
    <input type="hidden" asp-for="FileName" />
   @*  <input type="submit" value="Download" class="btn btn-warning" /> *@
    <button onclick="DownloadConfirmDialog(event)">Download</button>
</form>
