<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CLOUD_FINAL_PROJECT</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CLOUD_FINAL_PROJECT.styles.css" asp-append-version="true" />

</head>



<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <img src="https://cloud-final-s3.s3.ap-south-1.amazonaws.com/1.+LOGO+HCMUTE.png" width="70px" height="70px" class="logo">
            <img src="https://cloud-final-s3.s3.ap-south-1.amazonaws.com/logo+FIT+FA.png" width="60px" height="60px" class="logo">
            <h2>SSS</h2>
            @* <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Đồ Án Cuối kỳ nhóm </a> *@
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Letter</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<body>
    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

<footer class="border-top footer text-muted">
    <div class="container">
        <table class="table footer-table">
            <tr>
                <td>
                    <h4>Project Cloud Demo</h4>
                    <p>Học kỳ I</p>
                    <p>Mã lớp: CLCO332779_23_1_07</p>
                    <p>Đề tài: Secure File Storage and Sharing Services</p>
                </td>
                <td>
                    <h4>Thành viên nhóm</h4>
                    <p>Lê Tuấn Nghĩa</p>
                    <p>Nguyễn Thị Nhật Vy</p>
                    <p>Nguyễn Dương Thế Vĩ</p>
                </td>
                <td>
                    <h4>MSSV</h4>
                    <p>20133072</p>
                    <p>21110732</p>
                    <p>21110728</p>
                </td>
            </tr>
        </table>
    </div>
</footer>
</html>
